/*
 * Name: base.less
 * Description: function,ie hack
 * Creator: iRuxu,Dora
 * Modify: iRuxu
 * Update: 2015-6-27
 * API: http://iruxu.com/LessLab/
 */
/*
 * Shape.less v1.0 
 * Author:iRuxu
 * Creat:2014.8
 * Update:2015.6.10
 * https://github.com/iRuxu/LessLab
 */
/*Effect
--------------------------------------------------------------*/
/*Single Arrow
--------------------------------------------------------------*/
/*Border Arrow
--------------------------------------------------------------*/
/*Triangle
--------------------------------------------------------------*/
/*Radius 
--------------------------------------------------------------*/
/*More tools
--------------------------------------------------------------
Boreder Image    http://iruxu.com/to-be-css/borderimage/index.htm
Drop shadow      http://css3-drop-shadows.herokuapp.com/app
Long shadows     http://iruxu.com/to-be-css/shadow_longshadows.html
3D text          http://www.3dcsstext.com/
--------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}
.div {
  font-size: 23px;
  line-height: 100px;
  height: 100px;
  background-color: #25FF39;
  font-style: italic;
  color: #ff0000;
  -webkit-box-reflect: right;
}
.text {
  width: 200px;
  height: 400px;
  background-color: red;
  width: 80px;
  height: 80px;
  border-top-left-radius: 80px;
  background-color: #ff3399;
}
.div {
  width: 100%;
  height: 100px;
  font-size: 23px;
  line-height: 50px;
  color: #fffd3c;
  position: relative;
  *zoom: 1;
  background-color: #333;
}
.div:before {
  right: 100%;
  top: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-style: solid;
  border-color: transparent;
  border-right-color: #333333;
  border-width: 10px;
  margin-top: -10px;
}
.box {
  width: 100px;
  height: 100px;
  font-size: 2em;
  top: 200px;
  left: 200px;
  position: absolute;
  color: #ff0000;
  font-style: italic;
  background-color: #333;
}
.box:hover {
  color: #0000ff;
}
